<div class="container">
  <hr>
  <footer>
    <div class="row">
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
           eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a class="text-dark" href="{{ "/" | relative_url }}">&copy; 2019 Dağıtım</a></p>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="https://github.com/linuxkafasi">GitHub</a></li>
          <li><a href="https://twitter.com/linuxkafasi">Twitter</a></li>
          <li><a href="https://instagram.com/linuxkafasi">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="https://github.com/linuxkafasi/dagitim">Dağıtım on GitHub</a></li>
          <li><a href="https://linuxkafasi.org">Linux Kafası</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
